.banner {
    min-height: 750px;
    margin-top: 110px;

    img {
      width: 100%;
      max-height: 700px;
    }

    .banner-container {
      position: relative;
      height: 655px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;

      .banner-title {
        position: absolute;
        top: 204px;
        left: 60px;
      }

      .banner-title-content {
        font-size: 50px;
        font-weight: 400;
        color: $indigo;
        margin: 0;
        line-height: 55px;
      }

      .banner-title-content-b {
        font-weight: 900;
        img {
          width: 10%;
        }
      }

      .banner-conlit {
        position: absolute;
        left: 60px;
        top: 327px;
        font-size: 20px;
        color: gray;
        font-weight: 400;
      }

      .button-1 {
        display: block;
        max-width: 365px;
        background-color: yellowgreen;
        color: white;
        padding: 10px 40px;
        position: absolute;
        left: 52px;
        top: 405px;
        border-radius: 45px;
        font-size: 30px;
        border: 0;
        font-weight: 700;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }

    .banner-bottom {
      background-image: linear-gradient(white, #e5e5e5 98%);
      width: 100%;
      height: 160px;
    }
  }

  @media (max-width: 990px) and (min-width: 500px) {
    .banner {
      .banner-container {
        width: 100vw;
        height: 350px;
        background-size: cover;

        .banner-title {
          top: 18%;
          left: 27px;
        }

        .banner-title-content {
          font-size: 20px;
          line-height: 36px;
        }

        .banner-title-content img {
          width: 39px;
          height: 37px;
        }

        .banner-conlit {
          top: 43%;
          left: 27px;
        }

        .button-1 {
          top: 65%;
          left: 27px;
          width: 210px;
          height: 40px;
          font-size: 16px;
          padding: 8px 29px;
        }
      }

      .overlay {
        width: 100vw;
        height: 100vh;
        z-index: 3;
        background-color: rgb(255, 255, 255, 0.01);
        position: fixed;
        top: 108px;
        left: 0;
        right: 0;
        display: none;
      }

      .overlay.overlay-open {
        display: initial;
      }
    }
  }

  @media (max-width: 500px) {
    .banner {
      width: 100%;

      .banner-container {
        height: 500px;

        .banner img {
          width: 100%;
        }

        .banner-title {
          top: 40%;
          left: 51%;
          transform: translateX(-50%);
        }

        .banner-title-content {
          font-size: 18px;
          font-weight: 400;
          color: gray;
          margin: 0;
          line-height: 25px;
        }

        .banner-title-content-b {
          font-weight: 700;
        }

        .banner-conlit {
          top: 51%;
          left: 48%;
          font-size: 12px;
          transform: translateX(-50%);
        }

        .banner-content p {
          width: max-content;
        }

        .button-1 {
          top: 60%;
          left: 50%;
          transform: translateX(-50%);
          width: 225px;
          height: 47px;
          font-size: 14px;
          padding: 15px 45px;
        }
      }
    }

    .banner-bottom {
      margin-top: -221px;
    }
  }

  .main-content {
    margin-top: 45px;
    background-color: white;
    font-weight: 400;

    .big-tittle {
      font-size: 60px;
      text-align: center;
    }

    .line-border {
      margin-top: 15px;
      width: 380px;
      height: 5px;
      background-color: yellowgreen;
      border-radius: 3px;
      margin: 0 auto;
      margin-bottom: 65px;
    }

    .list-items {
      display: flex;
      justify-content: space-between;
      width: 84%;
      margin: 0 auto;
      transform: translateY(-25%);
    }

    .no-tranfer {
      transform: translateY(0) !important;
    }

    .items {
      width: 340px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      border-radius: 15px;

      .img-items {
        width: 100%;
        height: 215px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px 15px 0 0;

        img {
          width: 226px;
          height: 125px;
        }
      }

      .content-items {
        text-align: center;
        .title {
          font-size: 30px;
          line-height: 37px;
          letter-spacing: -0.05em;
          color: yellowgreen;
          margin-top: 25px;
        }

        .content-text {
          width: 77%;
          margin: 0px auto;
          font-size: 15px;
          font-weight: 400;
          color: $xam;
        }

        .btn-link {
          margin-top: 50px;
          margin-bottom: 50px;

          a {
            padding: 9px 37px;
            background-color: yellowgreen;
            color: white;
            font-size: 18px;
            border-radius: 22px;
          }
        }
      }

      .img-items1 {
        background-color: dodgerblue;
      }

      .img-items2 {
        background-color: hotpink;
      }

      .img-items3 {
        background-color: deepskyblue;
      }

      .img-items4 {
        background-color: #1b75bb;
      }
    }

    .space {
      margin-top: 45px;
    }

    .view-more-title {
      margin-top: 60px;
      text-align: center;
      margin-bottom: 80px;

      a {
        color: yellowgreen;
        font-size: 40px;
        font-weight: 500;
      }
    }
  }

  @media (max-width: 900px) and (min-width: 500px) {
    .main-content {
      border-radius: 10px 10px 10px 11px;
      margin-top: -70px;

      .list-items {
        display: block;
        transform: translateY(-40%);
      }

      .items {
        width: 100%;
        display: flex;
        height: 205px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

        .content-items {
          background-color: white;
          text-align: left;

          .content-text {
            width: 88%;
            margin-left: 5px 10px 2px 14px;
            font-size: 14px;
            overflow: hidden;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            color: gray;
            font-weight: 500;
          }

          .title {
            font-size: 20px;
            margin-left: 20px;
            line-height: 10px;
          }

          .btn-link {
            text-align: right;
            margin-right: 10px;
            margin-top: 40px;
            a {
              font-size: 14px;
              padding: 7px 14px;
              text-align: right;
            }
          }
        }

        .img-items {
          height: 100%;
        }
      }

      .big-tittle {
        margin-bottom: -2px;
        margin-top: -240px;
        font-size: 44px;
        font-weight: 900;
        color: #11114e;
      }

      .line-border {
        width: 275px;
        margin-bottom: 50px;
      }
    }
  }

  @media (max-width: 480px) {
    .main-content {
      background-color: white;
    }

    .main-content {
      border-radius: 10px 10px 10px 11px;
      margin-top: -50px;

      .list-items {
        display: block;
      }

      .view-more-title a {
        font-size: 22px;
      }

      .items {
        width: 100%;

        .content-items {
          width: 100%;

          .btn-link {
            transform: translateY(-20px);
          }
        }

        .img-items {
          height: 100%;
        }
      }

      .big-tittle {
        margin-bottom: -2px;
        margin-top: -240px;
        font-weight: 900;
      }

      .line-border {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 50px;
      }

      .big-tittle {
        font-size: 40px;
      }
    }
 }
